body {
    /*background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');*/
    background: url("../photos/darkgrey1.jpg") no-repeat;
    margin:0px;
    background-size: cover;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
}

.title {
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 70px;
    text-align: center;
}

.darkgrey {
    color: #474747;
}

.centerContainer {
    position: relative;
	margin-top: 80px;
    margin-left: 10%;
    width: 80%;
    max-width: 80%;
}

.titleBox {
    border:.5px solid #fff;
    background-image: url("../photos/purple_gradient.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    padding: 20px;
    margin-top: 20px;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
}

.subscribeBox {
    position: relative;
    color: white;
    background-color: #474747;
    width: 20%;
    margin-left: 80%;
    padding: 2px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.postBox {
    border:.5px solid #fff;
    background-color: #D9B3FF;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    padding: 20px;
    margin-top: 20px;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
}

.postTitle {
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-align: center;
}

.username {
    font-size: 20px;
    font-weight: bold;
    color: #7130a1;
}

.likes {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #7130a1;
}

 .tab {
	display: inline-block;
	margin-left: 40px;
}

.postContent {
    font-size: 25px;
    color: black;
}

.postButton {
    position: relative;
    color: white;
    background-color: #7130a1;
    width: 20%;
    padding: 2px 10px;
    border-radius: 5px;
    border:.5px solid #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.subtitle {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.dropdown1 {
    padding: 0px;
    width: 40%;
    height: 40px;
    font-size: 18px;
    color: #440066;
    background-color: #eee;
    border-radius: 5px;
}

.textBubble{
	font-size: 20px;
    color: white;
}

.enterComment{
	font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    color: white
}

.navbar {
    margin-bottom: 0;
	background-color: #474747;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #7130a1 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  
    @media screen and (max-width: 480px){
	.postButton {
		width: 180px;
	}
	.subscribeBox {
		width: 150px;
		margin-left: 150px;
	}
	body {
		background-size: auto;
	  }

}